.logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../img/logo.jpg);
    background-size: cover;
    transition: all 1s;
}

.logo:hover{
    transform: rotate(720deg);
}